*{
    margin: 0; 
    font-family: 'Josefin Sans', sans-serif;
    border: border-box;
}

nav{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    background-color: black;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    height: 118px;
      margin-bottom: 30px;
}

.logo{
    color: white;
    font-size: 30px;
}

.add-first{
    color: 20px;
    margin-left: 3px;
    font-family: poppins;
}

span{
    color:#0d9ba5;
    font-family: poppins;
    font-size: 27px;
    margin-left: 1px;
}

nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;
    position: relative;
}

nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
}


nav ul li a:hover{
    color:#29bcc7;
    transition: .4s;
}

.btn-login{
  background-color:#29bcc7;
  color: white;
  text-decoration: none;
  border: 1px solid white;
  font-weight: bold;
  padding: 10px 25px;
  border-radius: 30px;
  transition: transform .4s;
}

.btn-login:hover{
  transform: scale(1.1);
  background-color:#104b5a;
}

.btn-donate{
    background-color:#29bcc7;
    color: white;
    text-decoration: none;
    border: 1px solid white;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 30px;
    transition: transform .4s;
}

.btn-donate:hover{
    transform: scale(1.1);
    background-color:#104b5a;
}
.drop-down{
    display: none;
}
nav ul li:hover .drop-down{
    display: block;
    position: absolute;
    margin-left: 0px;
    margin-top: 2px;
    background-color: transparent;
}

.drop-down ul{
    display: block;
    margin: 3px;
}

.drop-down ul li{
    width: 125px;
    padding: 10px;
}
.drop-down2{
    display: none;
}

nav ul li:hover .drop-down2{
    display: block;
    position: absolute;
    margin-left: 0px;
    margin-top: 2px;
    background-color: transparent;
}

.drop-down2 ul{
    display: block;
    margin: 3px;
}
*{
	margin: 0px;
	padding: 0px;
	border: border-box;
}

.heading{
	height: 300px;
	width: 100%;
	background-color: black;
	font-size: 50px;
	font-family: poppins;
	text-align: center;
	color: black;
	display: flex;
	position: relative;
}


.image{
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: lavender;	
	background-size: cover;
}

.ev{
	position: absolute;
	margin-left: 25%;
	margin-top: 5%;
	height: 50%;
	width: 50%;
	background-color: transparent;
}

.ev h1{
	padding: 10px;
	font-size: 120px;
	animation: fadein 3s ease;
}
.container{
	margin-top: 50px;
	height: 410px;
	width: 100%;
	display: flex;
	justify-content: space-around;
}
.box1{
	height: 400px;
	width: 37%;
	background-color: lavender;
	border-radius: 10%;
	background-image: url(en1.jpg);
	filter: opacity 0.5;
	background-size: cover;
	color: yellow;
	font-weight: bolder;
	display: flex;
	flex-direction: column-reverse;
}
.box1 h1{
	font-family: poppins;
	font-weight: bold;
	margin-top: 40px;
	margin-left: 30px;
	margin-bottom: 20px;
}
.box1 i{
	font-size: 14px;
	margin-left: 70px;
	margin-top: 20px;
}
.box1 p{
	margin-left: 100px;
	font-size: 25px;
	margin-bottom: 20px;
}
.box1 .d1{
	height: 90px;
	width: 90px;
	margin-left: 450px;
	margin-top: 40px;
	
	border-radius: 15%;
	background-color: #222f3d;
}
.box1 .d1 h2
{	
	margin-top: 20px;
	font-size: 26px;
	text-align: center;
}
.box1 .d1 h3
{
	font-size: 30px;
	text-align: center;
	font-weight: bolder;
	margin-top: 5px;
}
.box2{
	height: 400px;
	width: 37%;
	background-color: lavender;
	border-radius: 10%;
	background-image: url(en2.webp);
	filter: opacity 0.5;
	background-size: cover;
	color: yellow;
	font-weight: bolder;
	display: flex;
	flex-direction: column-reverse;

}
.box2 h1{
	font-family: poppins;
	font-weight: bold;
	margin-top: 40px;
	margin-left: 70px;
	margin-bottom: 20px;
}
.box2 i{
	font-size: 14px;
	margin-left: 70px;
	margin-top: 20px;
}
.box2 p{
	margin-left: 100px;
	font-size: 25px;
	margin-bottom: 20px;
}
.box2 .d2{
	height: 90px;
	width: 90px;
	margin-left: 450px;
	margin-top: 40px;
	
	border-radius: 15%;
	background-color: #222f3d;
}
.box2 .d2 h2
{
	margin-top: 20px;
	font-size: 26px;
	text-align: center;
}
.box2 .d2 h3
{
	font-size: 30px;
	text-align: center;
	font-weight: bolder;
	margin-top: 5px;
}
.contain{
	margin-top: 50px;
	height: 425px;
	width: 100%;
	display: flex;
	justify-content: space-around;
}
.box3{
	height: 400px;
	width: 37%;
	background-color: lavender;
	border-radius: 10%;
	background-image: url(en3.jpg);
	filter: opacity 0.5;
	background-size: cover;
	color: yellow;
	font-weight: bolder;
	display: flex;
	flex-direction: column-reverse;
}
.box3 h1{
	font-family: poppins;
	font-weight: bold;
	margin-top: 40px;
	margin-left: 70px;
	margin-bottom: 20px;
}
.box3 i{
	font-size: 14px;
	margin-left: 70px;
	margin-top: 20px;
}
.box3 p{
	margin-left: 100px;
	font-size: 25px;
	margin-bottom: 20px;
}
.box3 .d3{
	height: 90px;
	width: 90px;
	margin-left: 450px;
	margin-top: 40px;
	
	border-radius: 15%;
	background-color: #222f3d;
}
.box3 .d3 h2
{
	margin-top: 20px;
	font-size: 26px;
	text-align: center;
}
.box3 .d3 h3
{
	font-size: 30px;
	text-align: center;
	font-weight: bolder;
	margin-top: 5px;
}
.box4{
	height: 400px;
	width: 37%;
	background-color: lavender;
	border-radius: 10%;
	background-image: url(en4.jpg);
	filter: opacity 0.5;
	background-size: cover;
	color: yellow;
	font-weight: bolder;
	display: flex;
	flex-direction: column-reverse;

}
.box4 h1{
	font-family: poppins;
	font-weight: bold;
	margin-top: 40px;
	margin-left: 70px;
	margin-bottom: 20px;
}
.box4 i{
	font-size: 14px;
	margin-left: 70px;
	margin-top: 20px;
}
.box4 p{
	margin-left: 100px;
	font-size: 25px;
	margin-bottom: 20px;
}
.box4 .d4{
	height: 90px;
	width: 90px;
	margin-left: 450px;
	margin-top: 40px;
	background-color:#222f3d ;
	
	border-radius: 15%;
}
.box4 .d4 h2
{
	margin-top: 20px;
	font-size: 26px;
	text-align: center;
}
.box4 .d4 h3
{
	font-size: 30px;
	text-align: center;
	font-weight: bolder;
	margin-top: 5px;
}



footer{
  margin-top: 100px;
}


.foot-panel1{
  background-color: #37475a;
  color: white;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  /*font-size: 0.85rem;*/
}

.foot-panel1 a{
  color: white;
  font-size: 15px;
  font-family: poppins;
}

.foot-panel2{
  background-color: #222f3d;
  color: white;
  height: 300px;
  display: flex;
  justify-content: space-evenly;
}


.foot-panel2 ul{
  margin-top: 20px;
  font-family: poppins;
}


.foot-panel2 ul a{
  font-family: poppins;
  text-decoration: none;
  display: block;
  font-size: 1rem;
  margin-top: 10px;
  color: #dddddd;
}


.foot-panel3{
  background-color: #222f3d; 
  color: white;
  border-top: 0.5px solid white;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center ;
}

.logo{
    color: white;
    font-size: 30px;
}

.add-first{
    color: 20px;
    margin-left: 3px;
    font-family: poppins;
}

span{
    color:#0d9ba5;
    font-family: poppins;
    font-size: 27px;
    margin-left: 1px;
}


.foot-panel4{
  background-color: #0f1111;
  color: white;
  height: 80px;
  font-size: 0.7rem;
  text-align: center;
}


.pages{
  padding-top: 25px;
}


.copyright{
  padding-top: 5px;
}
